@{
    ViewData["Title"] = "Contoso";
}



<div class="text-center">

    <table>
        <tr>
            <td>
                <img src="https://lh3.googleusercontent.com/y6VeCWGXhdMNBmJ_Ge3MFrRZc62zPmyyCvIGe49Dl3yWcFMLVqrr9jHREhqOKWm9tA" />
            </td>
            <td></td>
        </tr>
    </table>
    <p>
        
    </p>
</div>
