@{
    ViewData["Title"] = "Contoso";
}


    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is a sample SalesOrder application that demonstrates how we can split a monolith to microservices and run on Azure web app for containers.</p>
        <hr class="my-4">
        <p>Allows multiple teams to release part of the features in different cadences.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>


