@{
    ViewData["Title"] = "Products";
}
<script type="text/javascript">


    function loadData() {
        var dataType = 'application/json; charset=utf-8';

        $.ajax({
            url: '/Product/GetAll',
            contentType: dataType,
            success: function (result) {
                if (result != null) {
                    console.log(result)
                    $('#productTable').bootstrapTable({
                        data: result
                    });
                }
            }
        });
    }

</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="/product/NewProduct">New</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </div>
</nav>

<table 
       data-url="/Product/GetAll"
       id="productTable" data-toggle="table" 
       class="display table table-bordered">
    <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="descroption">Description</th>
            <th data-field="price">Price</th>
            <th data-field="id">ID</th>
        </tr>
    </thead>
</table>
